<head>
  <link
    rel="icon"
    href="assets/images/icon-white.svg"
    type="image/svg+xml"
    sizes="any"
  />
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="title" content="Sriram Veeraghanta" />
  <meta
    name="description"
    content="About Me. My Name is Sriram Veeraghanta and i'm a passionate developer interested in web development, graphics, realtime rendering, data science,"
  />
  <meta
    name="keywords"
    content="sriram, sriram veeraghanta, sriramveeraghanta, veeraghanta.sriram@gmail.com"
  />

  <title>Venkatesh Nalla</title>

  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" type="text/css" href="{{
    "/css/main.css" | prepend: site.baseurl
  }}">
</head>
