<head>
  <link
    rel="icon"
    href="assets/images/V.png"
    type="image/svg+xml"
    sizes="any"
  />
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="title" content="Venkatesh Nalla" />
  <meta
    name="description"
    content=" Computer Science graduate who's interested in web development, UI
              design and real time rendering and Mobile application development."
  />
  <meta
    name="keywords"
    content="Venkatesh, Venkatesh Nalla, Venkateshnalla, venkateshnalla94@gmail.com"
  />

  <title>Venkatesh Nalla</title>

  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" type="text/css" href="{{
    "/css/main.css" | prepend: site.baseurl
  }}">
</head>
